<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" intial-scale="1.0" />
		<title>Traweller</title>
		<link
			href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
			rel="stylesheet"
		/>
		<!-- <link rel="stylesheet" href="styles/style.scss" /> -->
	</head>
	<body>
		<head>
			<div class="container box">
				<div class="head">
					<h1>Traweller</h1>
				</div>
				<div class="search-box box">
					<section class="section1 box">
						<label for="placename"> Enter Place </label>
						<input type="text" id="placename" placeholder="Enter City name" />
					</section>
					<section class="section2 box">
						<label for="travelDate">Travel Date</label>
						<input
							type="date"
							id="travelDate"
							placeholder="Enter date of travel"
						/>
					</section>
					<section class="section3 box">
						<label for="returnDate">Return Date</label>
						<input
							type="date"
							id="returnDate"
							placeholder="Enter date of return"
						/>
					</section>
				</div>
				<div class="flex-search box">
					<button id="generate" type="submit">Search</button>
				</div>
			</div>
		</head>
		<div class="flex-body">
			<main>
				<center><div id="error"></div></center>
				<section class="box">
					<h2>Checkout Some of Users Favourite destinations and reviews:</h2>
				</section>

				<section class="card-class box">
					<div class="card">
						<img src="./images/venice.jpg" alt="Venice pic" />
						<div class="card-container">
							<p><b>Venice</b></p>
							<p>John says Great for planning!</p>
						</div>
					</div>
					<div class="card">
						<img src="./images/morocco.jpg" alt="Morocco pic" />
						<div class="card-container">
							<p><b>Morocco</b></p>
							<p>Tony says Brilliant! 5 stars</p>
						</div>
					</div>
					<div id="card3" class="card">
						<img src="./images/gotham.jpg" alt="Gotham pic" />
						<div class="card-container">
							<p class=""><b>Gotham</b></p>
							<p>Bruce says best decison ever!</p>
						</div>
					</div>
				</section>
				<section id="results" class="generated-data box">
					<div id="res-card-container" class="res-class-container box">
						<div id="apiDataImage" class="res-card-image">
							<img src="./images/deadpool.jpg" alt="dummy pic" />
						</div>
						<div id="res-card-content" class="res-card-content">
							<div class="flex-body-vert">
								<div class="flex-body-horiz">
									<div id="temperature">DUMMY</div>
									<div id="weather-icon">DUMMY</div>
								</div>
								<div id="weather-descr" class="add-font">DUMMY</div>
							</div>

							<div id="duration" class="add-font">DUMMY</div>
							<div id="date" class="add-font">DUMMY</div>
							<div id="latitude" class="add-font">DUMMY</div>
							<div id="country" class="add-font">DUMMY</div>
							<div id="countdown" class="">DUMMY</div>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<p><strong>&copy; Abhinav Saurav</strong></p>
			</footer>
		</div>
		<script>
			// Check that service workers are supported
			if ("serviceWorker" in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener("load", () => {
					navigator.serviceWorker.register("/service-worker.js");
				});
			}
		</script>
	</body>
</html>
