<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" intial-scale="1.0" />
		<title>Traweller</title>
		<link
			href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles/style.css" />
	</head>
	<body>
		<head>
			<div class="container box">
				<div class="head">
					<h1>Traweller</h1>
				</div>
				<div class="search-box box">
					<section class="section1 box">
						<label for="placename"> City: </label>
						<input type="text" id="placename" placeholder="Enter City name" />
					</section>
					<section class="section2 box">
						<label for="travelDate">Travel Date</label>
						<input
							type="date"
							id="travelDate"
							placeholder="Enter date of travel"
						/>
					</section>
					<section class="section3 box">
						<label for="travelDate">Return Date</label>
						<input
							type="date"
							id="returnDate"
							placeholder="Enter date of travel"
						/>
					</section>
				</div>
				<div class="flex-search box">
					<button id="generate" type="submit">Search</button>
				</div>
			</div>
		</head>
		<div class="flex-body">
			<main>
				<section class="box">
					<h2>Checkout Some of our users review</h2>
				</section>
				<section class="card-class box">
					<div class="card">
						<img src="./images/deadpool.jpg" alt="Avatar" />
						<div class="card-container">
							<h4><b>John Doe</b></h4>
							<p>Architect & Engineer</p>
						</div>
					</div>
					<div class="card">
						<img src="./images/deadpool.jpg" alt="Avatar" />
						<div class="card-container">
							<h4><b>John Doe</b></h4>
							<p>Brilliant! 5 stars</p>
						</div>
					</div>
					<div class="card">
						<img src="./images/deadpool.jpg" alt="Avatar" />
						<div class="card-container">
							<h4><b>John Doe</b></h4>
							<p>Architect & Engineer</p>
						</div>
					</div>
				</section>
				<div id="error"></div>
				<section id="results" class="generated-data box">
					<div id="res-card-container" class="res-class-container box">
						<div id="apiDataImage" class="res-card-image">
							<img src="./images/deadpool.jpg" />
						</div>
						<div id="res-card-content" class="res-card-content">
							<div id="weather-icon">DUMMY</div>
							<div id="temperature">DUMMY</div>
							<div id="weather-descr">DUMMY</div>
							<div id="countdown">DUMMY</div>
							<div id="date">DUMMY</div>
							<div id="latitude">DUMMY</div>
							<div id="country">DUMMY</div>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<p><strong>&copy; Abhinav Saurav</strong></p>
			</footer>
		</div>
		<!-- <div id="app">
			<div class="zip extra">
				<div class="holder zip">
					<label for="placename">Enter City here</label>
					<input type="text" id="placename" placeholder="Enter City name" />
				</div>
				<div class="holder zip">
					<label for="travelDate">Enter Date</label>
					<input
						type="date"
						id="travelDate"
						placeholder="Enter date of travel"
					/>
				</div>
				<br />
				<div class="holder zip">
					<label for="feelings">How are you feeling today?</label>
					<textarea
						class="myInput"
						id="feelings"
						placeholder="Enter your feelings here"
						rows="3"
						cols="50"
					></textarea>
				</div>
				<br />
				<div class="mybtn">
					<button id="generate" type="submit">Generate</button>
				</div>
			</div>

			<div class="holder entry">
				<div class="title">Most Recent Entry</div>

				<div id="entryHolder"> -->
		<!-- <div id="error"></div>
					<div id="date"></div>
					<div id="temp"></div>
					<div id="content"></div>
					<div id="countdown"></div>
					<div id="weather"></div>
					<div id="apiDataImage"></div> -->
		<!-- <img src="./images/a01d.png" /> -->
		<!-- </div>
			</div>
		</div> -->

		<!-- <script src="app.js" type="text/javascript"></script> -->
	</body>
</html>
