@import "header.scss";
@import "footer.scss";

.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7.5vh auto 7.5vh;
	grid-template-areas:
		"hd1"
		"hd2"
		"hd3";
	color: white;
	background-color: #000000;
	background-image: linear-gradient(
		90deg,
		#000000 0%,
		#414141 54%,
		#000000 100%
	);
}

// .box {
// 	border: 1px solid red;
// }

body {
	background: #fffff8;
	margin: 0;
	padding: 0;
}
.search-box {
	grid-area: hd2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 5%;
	margin: 10px 0 10px 0;

	section {
		padding: 2px 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
}

main {
	min-height: 67vh;

	#error {
		padding: 10px 0 0 0;
		color: red;
	}

	section {
		h2 {
			padding: 0 0 0 10px;
			font-family: "Merriweather", serif;
		}
	}
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
	margin: 10px;
	font-family: "Merriweather", serif;
	img {
		width: 100%;
		height: 50%;
	}
	.p-style {
		margin: 5px;
	}
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
	padding: 2px 16px;
}

.card-class {
	display: flex;
	flex: row wrap;
	width: 100%;
	height: 50vh;
	overflow: auto;
	justify-content: space-evenly;
	padding: 10px 0;
}

.flex-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-body-horiz {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	#temperature {
		font-size: 1.5em;
	}
}

.flex-body-vert {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

/* Styling for the generated data */
.generated-data {
	width: 100%;
	height: 90vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-image: url("../media/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	.add-font {
		font-family: "Merriweather", serif;
	}
}

.res-class-container {
	width: 80vw;
	height: 60vh;
	display: inline-flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;

	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.res-card-image {
		width: 45%;
		img {
			max-width: 100%;
			max-height: 100%;
			height: 100%;
			width: 100%;
		}
	}

	.res-card-content {
		display: flex;
		width: 55%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		#countdown {
			font-size: 1.5em;
		}
	}
}

.flex-search {
	grid-area: hd3;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	display: block;
	width: 50vw;
	font-size: 20px;
	font-family: "Oswald", sans-serif;
	border: none;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

button {
	width: 100px;
	height: 5vh;
	background: #3b4a6b;
	color: #f0d43a;
	font-size: 20px;
	font-weight: bold;
	border: none;
	box-shadow: 2px 4px 5px #444;
	border-radius: 10px;

	&:hover {
		color: #3b4a6b;
		background: #f0d43a;
	}
}

h1 {
	font-size: 36px;
	padding: 0;
	margin: 0;
}

@media (min-width: 900px) {
	.container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 7.5vh 10vh 8vh;
		grid-template-areas:
			"hd1"
			"hd2"
			"hd3";
	}
	.search-box {
		grid-area: hd2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 0 10%;
		section {
			width: 33%;
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 25%;

		img {
			width: 100%;
			height: 60%;
		}
	}
	input {
		display: block;
		width: 15vw;
		font-size: 20px;
		font-family: "Oswald", sans-serif;
		border: none;
		-ms-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
	}
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	font-size: 18px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: black;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	// color: #f0d43a;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	font-family: "Oswald", sans-serif;
	text-align: center;
}
